@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 238, 244, 243;
  --bg-ultra: 255, 255, 255;

  --primary: 0, 109, 251;
  --primary-light: 77, 178, 255;
  --primary-dark: 60, 30, 255;

  --accent: 255, 23, 139;

  --text-color: 0, 0, 0;
  --text-color-light: 30, 41, 57;

  background: rbga(var(--background));
}

.dark {
  --background: 0, 0, 0;
  --bg-ultra: 30, 41, 57;

  --primary: 0, 109, 251;
  --primary-dark: 77, 178, 255;
  --primary-light: 60, 30, 255;

  --accent: 255, 23, 139;

  --text-color: 255, 255, 255;
  --text-color-light: 238, 244, 243;

  background: rbga(var(--background));
}
